@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-saira);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-saira), Arial, Helvetica, sans-serif;
}

.dark .dotted-pattern-light {
  background-color: #000;
  opacity: 1;
  background-image: radial-gradient(#6c6c6c 0.8px, #000 0.8px);
  background-size: 10px 10px;
}

.dotted-pattern-light {
  background-color: #fff;
  opacity: 1;
  background-image: radial-gradient(#a29494 0.8px, #fff 0.8px);
  background-size: 10px 10px;
}

.dark .neutral-pattern-light{
  background-color: #000000;
  opacity: 1;
  background-image:  linear-gradient(30deg, #433636 12%, transparent 12.5%, transparent 87%, #433636 87.5%, #433636), linear-gradient(150deg, #433636 12%, transparent 12.5%, transparent 87%, #433636 87.5%, #433636), linear-gradient(30deg, #433636 12%, transparent 12.5%, transparent 87%, #433636 87.5%, #433636), linear-gradient(150deg, #433636 12%, transparent 12.5%, transparent 87%, #433636 87.5%, #433636), linear-gradient(60deg, #43363677 25%, transparent 25.5%, transparent 75%, #43363677 75%, #43363677), linear-gradient(60deg, #43363677 25%, transparent 25.5%, transparent 75%, #43363677 75%, #43363677);
  background-size: 24px 42px;
  background-position: 0 0, 0 0, 12px 21px, 12px 21px, 0 0, 12px 21px;
}

.neutral-pattern-light{
  background-color: #ffffff;
  opacity: 1;
  background-image:  linear-gradient(30deg, #d5cfcf 12%, transparent 12.5%, transparent 87%, #d5cfcf 87.5%, #d5cfcf), linear-gradient(150deg, #d5cfcf 12%, transparent 12.5%, transparent 87%, #d5cfcf 87.5%, #d5cfcf), linear-gradient(30deg, #d5cfcf 12%, transparent 12.5%, transparent 87%, #d5cfcf 87.5%, #d5cfcf), linear-gradient(150deg, #d5cfcf 12%, transparent 12.5%, transparent 87%, #d5cfcf 87.5%, #d5cfcf), linear-gradient(60deg, #d5cfcf77 25%, transparent 25.5%, transparent 75%, #d5cfcf77 75%, #d5cfcf77), linear-gradient(60deg, #d5cfcf77 25%, transparent 25.5%, transparent 75%, #d5cfcf77 75%, #d5cfcf77);
  background-size: 24px 42px;
  background-position: 0 0, 0 0, 12px 21px, 12px 21px, 0 0, 12px 21px;
}

::-webkit-scrollbar {
  width: 0px;
}

* {
  scrollbar-width: none;
}
